<!DOCTYPE html>
<html lang="en">
<head>
  <title>Discussion</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon bar" type="text/css" href="https://www.waseda.jp/inst/icc/assets/uploads/2015/10/web_image1.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 <!-- <link href="/css/lib/fileinput.css" media="all" rel="stylesheet" type="text/css" />-->
  <link href="/css/post_comment.css" media="all" rel="stylesheet" type="text/css" />
  <script src="/socket.io/socket.io.js"></script>
  <style>
  
	  /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  
  html,body { height: 100%; margin: 0px; padding: 0px; }

    .active{
      border-left: 0px;
      border-right: 0px;
      border-radius: 0px;
    }

    .modal.modal-wide .modal-dialog {
      width: 90%;
    }

    .modal-wide .modal-body {
      overflow-y: auto;
    }

    .modal-content textarea.form-control {
      min-width: 100%;
    }

    .popup-box-chat{
      display:none;
      position: fixed;
      bottom: 2px;
      right: 220px;
      height:392px;
      margin-right: 10%;
      background-color: white;
      box-shadow: 1px 2px 5px #ccccff;
      width: 300px;
      border: 1px solid rgba(29, 49, 91, .3);
    }

    .boxchat_body{
      min-height:30px;
      padding:10px;
      word-wrap:break-word;
      max-width:200px;
      border:1px solid #bcd1c6;
      background-color: #e9eaed;
      border-radius: 50px;
      margin-left:5px;
      /*position:inherit;*/
    }

    .boxchat_body.boxchatbody{
      border:1px solid green;
      background-color: lightblue;
      border-radius: 50px;
      margin-left:64px;
      /*position:inherit;*/
    }

    .boxchat_body.centerbox{
      margin-left:35px;
      font-size:120%;
      background-color:yellow;
    }

  </style>
  <script type="text/javascript">
     var MYID = parseInt("<%= session.user_id  %>")
     var MYEMAIL = "<%= session.email %>"
     var MYPHOTO = "<%= session.photo %>"
     var MYPRIONAT = "<%= session.mynative %>"
     var MYPRIOEX = "<%= session.myexchange %>"

  </script>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="0">



<div class="modal fade" id="Notify_post" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Notification</h4>
        </div>
        <div class="modal-body">
          <p>content</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="reportPostUser" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Content</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="showuserlikespost" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header" style="border: 0px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Infomation likes</h4>
        </div>

        <div class="modal-body">
          <p>No info</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="#">Exchange Language</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="http://inperugia.com/wp-content/uploads/2011/08/language-exchange-perugia.png" alt="Logo" style="width:40px;margin-top:10px;">
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul id="nav_ul" class="nav navbar-nav">
       <li class="active"><a href="#" onclick="Home()">Home</a></li>
        <li ><a href="#" onclick="Profile()">Profile</a></li>
        <li><a href="/languageex/messenger" onclick="Messenger()">Messenger</a></li>
        <li><a href="#">Group</a></li>
        <li><a href="#">Courses</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/languageex/user/logout" onclick="Logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center" style="margin-top:50px;">  

  <div class="row content">
      <div class="col-lg-2 sidenav" style="height:100%;width: 23%;border-right: 1px solid #BBBBBB;position:fixed;" >
      <div class="col-lg-9 sidenav" style="margin-left: 20%;width: 80%;">
        <div class="well" style="background: #f6f9fc;">
          <h4><i></i></h4>
          <p>Community: <span style="color: blue;"><%= user[0].exname %></span></p>
          <p>Level: <span style="color: orange;"><%= user[0].level %></span></p>
          <p>Score: <span style="color: orange;"><%= user[0].score %></span></p>
        </div>

        <div>
          <!-- http://taimienphi.vn/tmp/cf/aut/hinh-anh-dep-2.jpg -->
          <img src="<%= user[0].photo %>"  class="img-circle" alt="Avatar" height="120" width="120" data-tongle="tooltip" title="<%= user[0].name %>">
        </div>

        <div style="margin-top: 18%;">
            <ul class="nav nav-pills nav-stacked" style="width: 114%;margin-left: -7%;">

               <li class="active" style="text-align: left;margin-top:4%;"><a href="#" onclick="selectComunityPost()"><span style="font-size: 130%;">
                   <span class="glyphicon glyphicon-inbox"></span> <span style="margin-left: 10%;">Comunity</span>
               </span></a></li>

               <li style="text-align: left;margin-top:4%;"><a href="#" onclick="selectRecentPost()"><span style="font-size: 130%;">
                  <span class="glyphicon glyphicon-globe"></span><span style="margin-left: 10%;"> Recent </span>
               </span></a></li>

               <li style="text-align: left;"><a href="#" onclick="selectMyPost()"><span style="font-size: 130%;">
                  <span class="glyphicon glyphicon-folder-open"></span> <span style="margin-left: 10%;">My post</span>
               </span></a></li>


                <li style="text-align: left;margin-top:4%;"><a href="#" onclick="Notify()"><span style="font-size: 130%;">
                   <span class="glyphicon glyphicon-bullhorn"></span> <span style="margin-left: 10%;">Notify</span>
               </span></a></li>

            </ul>
       </div>
      </div>
   </div>


   <div class="col-sm-9 text-left" style="width: 65%;overflow: auto;margin-left:23%;">   
      <div style="margin-left: 3%;">

        <form enctype="multipart/form-data" id="" style="width:94%;border-bottom: 2px solid blue;border-right: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC;">

          <div class="form-group" style="margin-top: 4%;" id="commentinpost">
            <textarea class="form-control" rows="4" placeholder="Write something in here...." style="width: 100%;border-right: 0px;border-left: 0px;"></textarea>
            <p style="color: red;font-style: inherit;display: none;">##) Do not empty this field.</p>
          </div>
         <!-- <a href="#">
            <input id="file-0a" class="file"  style="margin-left: 20%;" name = "tep" type="file" multiple data-min-file-count="1"> 
          </a> -->
          <table style="margin-left: 20%;">
            <tr>
              <td><h4><b>Choose topic: </b></h4></td>
              <td><select class= "form-control" style="width: 190%;" id="topicpost">
                <option style="font-size:130%;" value="value"><b>value</b></option>
              </select></td>
            </tr>
         </table>
            <br>
          <div style="height: auto;margin-left: 2%;">
           <button type="button" class="btn btn-primary" name ="submitform" onclick="submitPost()">Post now</button>
          <button type="reset" class="btn btn-default" style="margin-left: 15px;">Reset content</button>
          </div>
          <div style="height:10px; margin-top:0px;"></div>
        </form>    


         <div id="showpostusers">

         <!--   <div class="popup-box4" id="_posts">

             <div class="dropdown">
              <a class="dropbtn"><h5 class="glyphicon glyphicon-chevron-down"></h5></a>
              <div class="dropdown-content">
                <a style="cursor:pointer;" onclick="">Delete post</a>
                <a style="cursor:pointer;" onclick="">Edit post</a>
                <a style="cursor:pointer;" onclick="">Turn off comment</a>
              </div>
             </div>

              <table style="margin-left: 5px;height:80px;">
                <tr style="margin-top:5px;">
                  <td><img src="" style="height:47px;width:47px;"></td>
                 <td><div style="margin-left:8px;padding:0px;">
                          <p style="color:blue;margin-top:4px;">
                              <a style="font-size:110%;cursor:pointer;" class="text-justify" href="/languageex/user/profile?uid="><b></b></a>
                                   discussed the topic <b style="color:black;font-size:160%;"></b>
                          </p><div style="margin-top:-9px;">
                                  <label style="font-size:90%;"></label></div></div>
                    </td>
                </tr>
              </table>

                <div style="height:auto;margin-top:10px;" class="form-group" >
                  <textarea readonly class="form-control" style="min-height:10px;resize:none;font-size:17px;
                      color:orange;background-color:white;border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;">
                  </textarea>
                  <a style="margin-left:3%;cursor:pointer;text-decoration:none;" onclick="">See translation</a>

                  <textarea readonly class="form-control" style="min-height:10px;resize:none;font-size:17px;display:none;
                      color:orange;background-color:white;border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;">
                  </textarea>
                  <div style="float:right;margin-right:10px;border: 1px solid blue;"></div>
                </div>

                <div class="divcmt">
                  <img src="" onclick="" id="_likesrc" style="margin-left:5px;width:36;height:29px;">
                  <p style="margin-top:-24px;margin-left: 50px;color:blue;" id="_likect"></p>
                  <div style="margin-top:-22px;margin-left:26%;">
                     <a style="cursor:pointer;" onclick="">
                     <span id="_numlike"></span> people likes your post.</a></div>
                  </div>

                  <div class="divcmt1">
        
                    <div style="border:1px solid #d5e8e8;height:auto;">
                      <div style="margin-top:12px;">
                        <a class="a4" onclick="">Show more comments(<span id="_numcmt"></span>)</a>
                      </div>
                      <div style="width: auto;height: auto;" id=""></div>
                    </div>

                    <form style="margin-top:18px;margin-left:10px;">
                     <table>
                       <tr>
                        <td><img src="" style="height:40px;width:42px;margin-top:5px;margin-left:-1px;" data="tooltip" title=""></td>
                        <td>
                           <textarea style="resize:none;" rows="1" placeholder="Write your comments...." class="divcmt2" onkeypress="submitComment()" id="_writecmts"></textarea>
                        </td>
                       </tr>
                     </table>
                    </form>

                   <div style="height:30px; margin-top:0px;"></div>
                  </div>
            </div>-->

         </div> 

      </div>
    </div>


     <div class="col-lg-2 sidenav" style="height:100%;width: 13%;border: 1px solid #BBBBBB;position:fixed;margin-left:87%;">
   </div>

  </div>

</div>

<!-- <footer class="container-fluid text-center" style="margin-top: 0px;">
  <p>Footer Text</p>
</footer>  -->

<script type="text/javascript">

  var MYNAME = "<%=user[0].name %>"
  var MYSCORE = "<%=user[0].score %>"
  var MYLEVEL =  "<%=user[0].level %>"

  function Logout(){
      sessionStorage.clear();
      location.href = '/languageex/user/logout'
   }

   function Profile(){
      location.href = '/languageex/user/profile?uid='+encodeURIComponent(MYID)
   }

   function Messenger(){
      location.href = '/languageex/messenger'
   }

   function Home(){
      location.href = '/languageex/home'
   }


    var socket = io.connect();
    socket.on('connect', function(data) {       
      socket.emit('notifyOnline', MYID);
    });
   
    socket.on('connect_error', function(err){
      alert(err)
    })
</script>

<script type="text/javascript" src="/js/discussion_js.js"></script>

<script type="text/javascript">

    $('li > a').click(function(e) {
      $('li').removeClass();
      $(this).parent().addClass('active');
      e.preventDefault();
   });

   //ham nay cho phep tu dong tang chieu dai cua textarea khi nguoi dung comment vuot qua chieu dai co dinh
   function Height(e) {
      $(e).css({'height':'auto','overflow-y':'hidden'}).height(e.scrollHeight);
   }
      
   $('textarea').each(function () {
      Height(this);
   }).on('input', function () {
      Height(this);
   });
   
   //dung tooltip
   $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
   });
  
</script>

</body>
</html>
