<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon bar" type="text/css" href="https://www.waseda.jp/inst/icc/assets/uploads/2015/10/web_image1.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="/socket.io/socket.io.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  
  html,body { height: 100%; margin: 0px; padding: 0px; }

    .active{
      border-left: 0px;
      border-right: 0px;
      border-radius: 0px;
    }


    .card {
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
   }

   .title {
      color: grey;
      font-size: 16px;
   }

   .icon{
      text-decoration: none;
      font-size: 22px;
      color: black;
   }

   button:hover, a:hover {
      opacity: 0.7;
   }

   .inf-content{
       border:1px solid #DDDDDD;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
       border-radius: 10px;
      -moz-box-shadow: 0 0 8px #828282;
      -webkit-box-shadow: 0 0 8px #828282;
       box-shadow: 0 0 8px #828282;
   }  

  </style>
  <link rel="stylesheet" href="/css/processboxchat.css">
  <script type="text/javascript">
     var MYID = parseInt("<%= session.user_id  %>")
     var MYEMAIL = "<%= session.email %>"
     var MYPHOTO = "<%= session.photo %>"
     var MYPRIONAT = "<%= session.mynative %>"
     var MYPRIOEX = "<%= session.myexchange %>"
     var _COUNT_ID_DOM = 0;
     var IDMESSAGEUSER = 0;
     var AUTOCHECKMISSPELLING = true

  </script>
</head>

<body>

<noscript>
  <div class="alert alert-warning">
      <strong>Cảnh báo!</strong> Bạn đã tắt javascript trên trang web này. Ứng dụng này sử dụng javacript
      để phát triển, vui lòng bật lại script. Thân ái.
  </div>
</noscript>


  <div class="modal fade" id="InformationEditMessage" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-pencil" style="color:blue;"></span> Information</h4>
        </div>

        <div class="modal-body" >
          
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="showNotifyHome" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Notify</h4>
        </div>

        <div class="modal-body">
          <h4>My content</h4>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



<!-- Modal -->
  <div class="modal fade" id="ReportuserHome" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Why report this user ?</h4>
        </div>

        <div class="modal-body">
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Done</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
  <div class="modal fade" id="TranslationpriorityHome" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Language translation priority</h4>
        </div>

        <div class="modal-body" >
          <h4>My Native Language</h4>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-info">Done</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


 <div class="modal fade" id="MisspellingpriorityHome" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Language Misspelling priority</h4>
        </div>

        <div class="modal-body">
          <h4>My Exchange Language</h4>
        </div>

        <div class="modal-footer">
           <button type="button" class="btn btn-info">Done</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



<div class="modal fade" id="acceptCallvideo" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>

        <div class="modal-body">
          <h4>My content</h4>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="recordingAudio" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Recording your voice</h4>
        </div>

         <div class="modal-body">
            <div id="startrecordingAudio" style="height:auto;width: auto;">
               <h4>recording....<span class="glyphicon glyphicon-volume-up" style="color: blue;"></span></h4>
               <video style="height: 60%;width:40%;margin-left:20%;" id="recordingAudiovideo" controls>
               </video>

               <button type="button" class="btn btn-info" id="stoprecordingAudio">Stop</button>
            </div>

            <div id="restartrecordingAudio" style="display:none;">
               <h4>review</span></h4>
               <audio id="video1"  controls>
               </audio>
               <button type="button" class="btn btn-success" id="donerecordingAudio" style="margin-top:3%;">Done</button>
            </div>

         </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="callvideoStream" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Call video</h4>
        </div>

        <div class="modal-body">
          <div id="showcalling">
            <h4>Calling.... <span class="glyphicon glyphicon-earphone" style="color:blue;"></span></h4>
          </div>
          <div style="display: none;" id="videochatcalling">
               <video style="height:80%;width:60%;margin-left:20%;" id="callingvideoStream" controls>
               </video>
                <button type="button" class="btn btn-warning" id="endcallingvideoStream" style="margin-top:3%;">End call</button>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="acceptCallvideoFromuser" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Video call</h4>
        </div>
        <div class="modal-body">
            <img src="" class="img-circle" alt="Cinque Terre">
            <p>want to connect with you...</p>
            <button type="button" class="btn btn-warning">Accept</button>
            <button type="button" class="btn btn-success">Refuse</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="#">English Language Exchange</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="http://inperugia.com/wp-content/uploads/2011/08/language-exchange-perugia.png" alt="Logo" style="width:40px;margin-top:10px;">
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul id="nav_ul" class="nav navbar-nav">
        <li class="active"><a href="/languageex/user/profile" onclick="Profile()">Profile</a></li>
        <li><a href="/languageex/user/post" onclick="Post()">Discussion</a></li>

        <li><a href="#">Group</a></li>
        <li><a href="#">Courses</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/languageex/user/logout" onclick="Logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center" style="margin-top:50px;">    
  <div class="row content">
    <div class="col-lg-2 sidenav" style="height:100%;width: 18%;border-right: 1px solid #BBBBBB;position:fixed;">

      <div class="well" style="background: #f6f9fc;">
        <h4><i><%= user[0].name %></i></h4>
         <p>ex: <span style="color: orange;"><%= user[0].exname %></span></p>
        <p>Level: <span style="color: orange;"><%= user[0].level %></span></p>
        <p>Score: <span style="color: orange;"><%= user[0].score %></span></p>
      </div>

      <div>
        <!-- http://taimienphi.vn/tmp/cf/aut/hinh-anh-dep-2.jpg -->
        <img src="<%=user[0].photo %>"  data="tooltip" title="<%=user[0].email %>" class="img-circle" alt="Avatar" height="120" width="120">
      </div>

      <div style="margin-top: 18%;">
     <!--  <div style="width: 70%;margin: 0 auto;">  
         <table style="width: 100%;height: 100%;">
            <tr style="text-align: left;">
               <td><h4><span class="glyphicon glyphicon-user"></span></h4></td>
               <td ><h4 style="margin-left: 18%;"><a href="#"> Community</a></h4></td>
            </tr>
            <tr style="text-align: left;">
               <td><h4><span class="glyphicon glyphicon-bullhorn"></span></h4></td>
               <td ><h4 style="margin-left: 18%;"><a href="#"> Notification </a><span style="color: red;">(0)</span></h4></td>
            </tr>
            <tr style="text-align: left;">
               <td ><h4><span class="glyphicon glyphicon-comment"></span></h4></td>
               <td><h4 style="margin-left: 18%;"><a href="#"> Messenger </a><span style="color: red;">(0)</span></h4></td>
            </tr>
         </table>
      </div> -->
    
            <ul class="nav nav-pills nav-stacked" style="width: 114%;margin-left: -7%;">

               <li class="active" style="text-align: left;" id="autoclickcom"><a href="#" onclick="selectUserCommunity()"><span style="font-size: 130%;">
                  <span class="glyphicon glyphicon-user"></span> <span style="margin-left: 10%;">Community</span>
               </span></a></li>

               <li style="text-align: left;margin-top:4%;" id="autoclicknot"><a href="#" onclick="showMyNotify()"><span style="font-size: 130%;">
                  <span class="glyphicon glyphicon-bullhorn"></span><span style="margin-left: 10%;"> Notification </span><span style="color: red;"> (0)</span>
               </span></a></li>

               <li style="text-align: left;margin-top:4%;"><a href="/languageex/messenger" onclick="Messenger()"><span style="font-size: 130%;">
                   <span class="glyphicon glyphicon-comment"></span> <span style="margin-left: 10%;">Messenger</span> <span style="color: red;">(0)</span>
               </span></a></li>
            </ul>
       </div>

   </div>

   <div class="col-sm-9 text-left" style="width: 80%;overflow: auto;margin-left:20%;"> 

      <div style="border-style: outset;border-left: 0px;border-right: 0px;">
          <h2 style="text-align: right;">My community <span style="color: red;" id="numofusersonline"> (0)</span></h2>
      </div>

      <div style="margin-left: 5%;" id="MycommunityExchange">
   
         <!-- <div class="col-md-3" style="min-height: 360px;margin-top: 3%;margin-left: 2%;">
             <div class="card inf-content">
               <div style="width: 100%;height: 50%;" data-toggle="tooltip" title="View profile ">
                  <img src="/data/img/402629716513658286/kApIh0hA7EoS0KxVIpEes6yDG7A8m9Zg5hEmZYVD1LUHJ.png" 
            alt="John" style="width:100%;max-height: 100%;border-radius:8px;border:1px solid #696969; ">
               </div>
         <div style="line-height: 90%;">
        <h4> <i class="fa fa-circle" style="color:red;"></i> Pham Linh Dep Trai Cute Va De Thuong </h4>
        <p class="title">Leanrning: English</p>
         <p class="title">Degree: Beginning</p>
        <p class="title">Level: 1</p>
        <p>Age: 22</p>
        </div>
               <div style="margin: 24px 0;">
                  <a href="#" onclick="register_popup('qCccdsflock', 'QsaleGck');"  data-toggle="tooltip" title="Send message" class="icon"><i class="fa fa-comment" style="font-size:36px;color:#3399FF;"></i></a> 
                  <a href="#"  data-toggle="tooltip" title="Follow Pham Linh"  class="icon"><i class="fa fa-eye" style="font-size:36px;color:#3399FF;"></i></a>
               </div>
            </div>
          </div>
       -->
      </div>

       <div style="margin-left: 5%;" id="MycommunityNative">
       </div>


    </div>

  </div>

</div>
<script type="text/javascript" src="/js/Community.js"></script>
<!-- <footer class="container-fluid text-center" style="margin-top: 0px;">
  <p>Footer Text</p>
</footer>  -->
<script type="text/javascript">

  $('li > a').click(function(e) {
      $('li').removeClass();
      $(this).parent().addClass('active');
      e.preventDefault();
   });
   
   $('.dropdown').click(function(e) {
      e.preventDefault();
   });
  
  //bat su kien tooltip
   $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip().click(function(e){
        e.preventDefault();
      });
   });

   function Logout(){
      sessionStorage.clear();
      location.href = '/languageex/user/logout'
   }

   function Profile(){
      location.href = '/languageex/user/profile?uid=' + encodeURIComponent("<%= user[0].id  %>")
   }

   function Post(){
      location.href = '/languageex/user/post'//'?uid=' + encodeURIComponent("<%= user[0].id  %>")
   }

   function Messenger(){
      location.href = '/languageex/messenger'
   }

      //su dung socket.io
      var socket = io.connect();
      //   var socket = io();
           
      socket.on('connect', function(data) {
         //ban dau la khi nguoi dung ket noi         
         socket.emit('notifyOnline', MYID);//client bao voi server la t online roi
      });

       //loi ket noi
      socket.on('connect_error', function(err){
        alert(err)
      })


      socket.on('numofuseronline', function(signal){
         if(signal < 0) signal = 0
         document.getElementById("numofusersonline").innerHTML = " (" + signal + ")"
      })

</script>


<!--<script type="text/javascript" src="../../public/js/ProcessBoxChat.js"></script> -->

<script type="text/javascript" src="/js/ProcessBoxChat.js"></script>
<script type="text/javascript" src="/js/Settingmsg.js"></script>

<script src="/lib/recordrtc/RecordRTC.js"></script>

<script type="text/javascript" src="/js/Audio.js"></script>
<script type="text/javascript" src="/lib/peer.js"></script>
<script type="text/javascript" src="/js/CallVideo.js"></script>

</body>
</html>
