<!DOCTYPE html>
<html lang="en">
<head>
  <title>Exchange language together</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.easylanguageexchange.com/wp-content/uploads/2016/06/elelogo-340.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/Login.css">
  <style type="text/css">
      
  </style>
</head>
<body>

<noscript>
  <div class="alert alert-warning">
      <strong>Cảnh báo!</strong> Bạn đã tắt javascript trên trang web này. Ứng dụng này sử dụng javacript
      để phát triển, vui lòng bật lại script. Thân ái.
  </div>
</noscript>
  
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">Exchange Language</a>
         </div>
         <div class="navbar-header">
            <img src="http://inperugia.com/wp-content/uploads/2011/08/language-exchange-perugia.png" alt="Logo" style="width:40px;margin-top:10px;">
         </div>
         <ul class="nav navbar-nav">
           <li><a href="#">Introduce</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Contact</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="/languageex/user/signup"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
            <li><a href="#"  data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         </ul>
      </div>
   </nav>


   <!-- Modal -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>

        <div class="modal-body" style="background-color: #CCCCCC;">
            <div class="wrapper">
               <form class="form-signin" action="/languageex/user/filter" method="post">       
                  <h2 class="form-signin-heading">Join us! </h2>
                  <% if(typeof email != 'undefined'){ %>
                     <input type="email" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" value = "<%= email%>"/>
                  <%}else{%>
                      <input type="email" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" value="<%=(typeof email !== 'undefined')? email : ''%>" />
                   <%}%>
                  <p id="login_email"><span style="color: red;font-style: italic;"></span></p>

                   <% if(typeof pass != 'undefined'){ %>
                     <input type="password" class="form-control" name="password" placeholder="Password" required="" style="margin-top: 4%;" value = "<%= pass%>" /> 
                     <%}else{%>
                       <input type="password" class="form-control" name="password" placeholder="Password" required="" style="margin-top: 4%;" value="<%=(typeof pass !== 'undefined')? pass : ''%>" /> 
                   <%}%> 
                  <p id="login_password"><span style="color: red;font-style: italic;"></span></p>

                  <div style="margin-left: 7%;">    
                     <label class="checkbox">
                        <input type="checkbox" value="checked" id="rememberMe" name="rememberMe"> Remember me
                     </label>
                  </div>

                  <input type="button" class="btn btn-lg btn-primary btn-block" value="Login"> 

                  <% if(typeof infor != 'undefined'){ %>
                     <p><span style="color: red;font-style: italic;margin-top: 2%;"><span class="glyphicon glyphicon-info-sign"></span>  <%= infor.error%>.</span></p>

                     <p><span style="color:blue;font-style: italic;cursor:pointer;">
                     <a href="<%= infor.link%>" style="text-decoration: underline;"> <%= infor.notify%> ? </a>
                     </span></p>

                     <script type="text/javascript">
                         document.getElementById("myModal1").scrollTop = 100;
                     </script>
                  <%}%>
               </form>

               <div class="form-signin" style="margin-top: -4%;border-top: 0px;">
                  <form method="get" action="/languageex/user/signup/api">
                     <input type="hidden" name="key" value="facebook">
                     <button class="loginBtn loginBtn--facebook">
                        Login with Facebook
                     </button>
                  </form>

                  <form method="get" action="/languageex/user/signup/api">
                    <input type="hidden" name="key" value="google">
                    <button class="loginBtn loginBtn--google">
                       Login with Google plus
                    </button>
                  </form>
               </div>

            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Oops !!!!</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning">
               <strong>Error!!!</strong> reset passwort fail. Please try again.
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://cdn.lynda.com/course/170778/170778-636190606665464953-16x9.jpg" alt="New York" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Comunication</h3>
          <p>Feedom in talking.</p>
        </div>      
      </div>

      <div class="item">
        <img src="http://obolinx.com/resources/wp-content/uploads/2017/04/Effective-Communication-Skills.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Interactive</h3>
          <p>we can speaking with anyone</p>
        </div>      
      </div>
    
      <div class="item">
        <img src="https://www.recruiting.com/hubfs/Career%20Site%20Improve%20Candidate%20Experience-tiny.png?t=1516376010229" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Construction comunity</h3>
          <p>Find the world</p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center">
  <h3>THE EXCHANGE LANGUAGE</h3>
  <p><em>We love talking!</em></p>
  <p>We have created a comunity, join with us.</p>
  <br>
</div>

  <% if(typeof state != 'undefined'){ %>
  <script type="text/javascript">
    var St = "<%= state %>"
    if(St == "1")
      $('#myModal1').modal('show');
    else 
      $('#myModal').modal('show');
  </script>
  <%}%>

<script type="text/javascript">

   var span_notify = "<span class='glyphicon glyphicon-info-sign'></span>";
   var notify_pass = "", notify_email = "";
   function validatePassword(pass)
   {

      if(pass.length == 0)
      {
         notify_pass = " This field was empty.";
         return false;
      }
       return true;

    }

    function validateEmail(email)
    {
      if(email.length == ""){
         notify_email = " This field was empty.";
         return false; 
      }

      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      if(!re.test(String(email).toLowerCase())){
         notify_email = " Invalid format email."; 
         return false;
      }

      return true;
    }


   var Loginmodal = document.getElementById("myModal1")
   var Loginmodal_body = Loginmodal.getElementsByClassName("modal-body")[0]
   
   var Login_form = Loginmodal_body.getElementsByTagName('form')[0]
   var Login_form_inputs = Loginmodal_body.getElementsByTagName("input")

   var Login_form_input_email = Login_form_inputs[0]
   var Login_form_p_email = document.getElementById("login_email")

   var Login_form_input_pass = Login_form_inputs[1]
   var Login_form_p_pass = document.getElementById("login_password")
   var Login_form_input_login = Login_form_inputs[3]

   Login_form_input_login.onclick = function(){
      if(validateEmail(Login_form_input_email.value) 
            && validatePassword(Login_form_input_pass.value)){
         Login_form.submit()
      }

      if(!validateEmail(Login_form_input_email.value)){
          Login_form_p_email.getElementsByTagName("span")[0].innerHTML = span_notify + notify_email;
      }

      if(!validatePassword(Login_form_input_pass.value)){
          Login_form_p_pass.getElementsByTagName("span")[0].innerHTML = span_notify + notify_pass;
      }
   }

   Login_form_input_email.onclick = function(){
      Login_form_p_email.getElementsByTagName("span")[0].innerHTML = ""
   }

   Login_form_input_pass.onclick = function(){
      Login_form_p_pass.getElementsByTagName("span")[0].innerHTML = ""
   }


   
</script>

</body>
</html>