<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Exchange language together</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="text/css" href="https://backpackerbible.org/wp-content/uploads/2016/09/Logo-TalkTalk-Final.png">
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">

         body {
            background:  #CCCCCC;;
            font-family: 'Roboto', sans-serif;
            color:#333;
            line-height: 22px;   
         }
         h1, h2, h3, h4, h5, h6 {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400;
            color:#111;
            margin-top:5px;
            margin-bottom:5px;
         }
         h1, h2, h3 {
            text-transform:uppercase;
         }

         input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 12px;
            cursor: pointer;
            opacity: 1;
            filter: alpha(opacity=1);    
         }

         .form-inline .form-group{
            margin-left: 0;
            margin-right: 0;
         }
         .control-label {
            color:#333333;
         }

         .content {
            max-width: 1290px;
            padding: 0 1em;
            margin: 0 auto;
            text-align: center;
         }

         .component {
            position: relative;
            padding: 4em;
            height: 500px;
            border: 3px solid #49708A;
            max-width: 901px;
            overflow: hidden;
            margin: 0 auto;
         }

    </style>
  </head>

  <body>


  <!-- Modal -->
  <div class="modal fade" id="BoxUpdatePhoto" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ảnh của bạn</h4>
        </div>

        <div class="modal-body">
         <div class="content">
            <div class="component">
               <div class="overlay">
                  <div class="overlay-inner">
                  </div>
               </div>
               <img class="resize-image" src="" alt="image for resizing">
               <button class="btn-crop js-crop">Cắt<img class="icon-crop"></button>
            </div>

            <div style="margin-top: 5px;margin-left: 30%;">
               <canvas id="cropimagecanvas" style="border: 2px solid #CCCCCC;width:auto;height: auto;display: none;">
            </div>
         </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" id = "closemodal_crop" style="display: none;" >Xong</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var User = <%- JSON.stringify(User) %>
  </script>

   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">Dịch vụ thực hành ngôn ngữ</a>
         </div>
         <div class="navbar-header">
            <img src="http://inperugia.com/wp-content/uploads/2011/08/language-exchange-perugia.png" alt="Logo" style="width:40px;margin-top:10px;">
         </div>
      </div>
   </nav>

  	<div class="container">
   <div class="row">
    <div class="col-md-8">
      <section>      
        <h1 class="entry-title"><span>Tham gia với chúng tôi !!!</span> </h1>
        <hr>
         <form class="form-horizontal" method="post" name="signup" id="registerinformationforapp" enctype="multipart/form-data" action="/languageex/user/signup/register"> 

         <% if(User.provider == 'custom'){ %>  
               <div class="alert alert-success" id="notifyauthemail">
                  <strong>Thành công!</strong> Địa chỉ email của bạn đã xác thực thành công.
               </div>
               <script type="text/javascript">
                  setTimeout(function(){
                     document.getElementById("notifyauthemail").style.display = "none"
                  }, 4345)
               </script>
         <%}%>

           <!--   <div class="form-group">
          <label class="control-label col-sm-3">Security Code from email </label>
          <div class="col-md-5 col-sm-8">
            <input type="text" name="captcha" id="captcha" class="form-control label-warning"  />     
          </div>
         </div> -->

         <div class="form-group" id="language_exchange">
            <label class="control-label col-sm-3">Ngôn ngữ thực hành</label>
            <div class="col-md-8 col-sm-9">
               <select class="form-control" style="width:30%;color: #3366ff;" name="languageexchange">
                  <%Lang.forEach(function(el, ind){%>
                     <option value="<%=el.id %>"><%=el.name %></option>
                  <%}) %>   
               </select>
            </div>
         </div>

        <div class="form-group" id="dateofbirth">
          <label class="control-label col-sm-3">Ngày sinh <span class="text-danger">*</span></label>
          <div class="col-xs-8">
            <div class="form-inline">

              <div class="form-group" id="date">
                <select name="selectday" class="form-control">
                  <option value="">Ngày</option>
                <!--  <option value="1" >1 </option><option value="2" >2 </option><option value="3" >3 </option><option value="4" >4 </option><option value="5" >5 </option><option value="6" >6 </option><option value="7" >7 </option><option value="8" >8 </option><option value="9" >9 </option><option value="10" >10 </option><option value="11" >11 </option><option value="12" >12 </option><option value="13" >13 </option><option value="14" >14 </option><option value="15" >15 </option><option value="16" >16 </option><option value="17" >17 </option><option value="18" >18 </option><option value="19" >19 </option><option value="20" >20 </option><option value="21" >21 </option><option value="22" >22 </option><option value="23" >23 </option><option value="24" >24 </option><option value="25" >25 </option><option value="26" >26 </option><option value="27" >27 </option><option value="28" >28 </option><option value="29" >29 </option><option value="30" >30 </option><option value="31" >31 </option>           -->     </select>
              </div>

              <div class="form-group" id="month">
                <select name="selectmonth" class="form-control">
                  <option value="">Tháng</option>
                  <option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option>                </select>
              </div>

              <div class="form-group" id="year">
                <select name="selectyear" class="form-control">
                  <option value="">Năm</option>
                </select>
              </div>
            </div>

            <div class="form-inline">
               <p id = "dateofbirth_notify" style="color: red;font-style: italic;"></p>
            </div>  

          </div>
        </div>

      <%if(User.provider != 'custom'){ %>

        <div class="form-group" id= "form_gender">
          <label class="control-label col-sm-3">Giới tính <span class="text-danger">*</span></label>
          <div class="col-md-8 col-sm-9">
           <label>
            <%if(User.gender == 'male'){%>
               <input name="gender" type="radio" value="male" checked> Nam
            <%}else{%>
               <input name="gender" type="radio" value="male" > Nam
             <%}%>
            </label>

            <label>
               <%if(User.gender == 'female'){%>
                  <input name="gender" type="radio" value="female" checked> Nữ
               <%}else{%>
                  <input name="gender" type="radio" value="female" > Nữ
               <%}%>
            </label>

            <label>
               <%if(User.gender != 'female' && User.gender != 'male'){%>
                  <input name="gender" type="radio" value="unknown" checked>Không xác định
               <%}else{%>
                  <input name="gender" type="radio" value="unknown">Không xác định
                <%}%>
            </label>
            <p id = "gender" style="color: red;font-style: italic;"></p>
          </div>
        </div>

        <%}else{%>

         <div class="form-group" id= "form_gender">
          <label class="control-label col-sm-3">Giới tính <span class="text-danger">*</span></label>
          <div class="col-md-8 col-sm-9">
            <label>
            <input name="gender" type="radio" value="male">
            Nam</label>
               
            <label>
            <input name="gender" type="radio" value="female" >
            Nữ</label>

            <label>
            <input name="gender" type="radio" value="unknown">
            Không xác định</label>
            <p id = "gender" style="color: red;font-style: italic;"></p>
          </div> 
        </div>

        <%}%>

        <div class="form-group" id="country">
            <label class="control-label col-sm-3">Ngôn ngữ tự nhiên</label>
            <div class="col-md-8 col-sm-9">
               <select class="form-control" style="width:30%;color: #3366ff;" name="selectnative">
                  <%Lang.forEach(function(el, ind){%>
                     <option value="<%=el.id %>"><%=el.name %></option>
                  <%}) %> 
               </select>
            </div>
        </div>

        <div class="form-group" id="level">
            <label class="control-label col-sm-3">Trình độ</label>
            <div class="col-md-8 col-sm-9">
               <select class="form-control" name="selectlevel" style="width:30%;color: #3366ff;">
                  <%De.forEach(function(el, ind){%>
                     <option value="<%=el.id %>"><%=el.name %></option>
                  <%})%> 
               </select>
            </div>
       </div>

       <!-- <div class="form-group">
          <label class="control-label col-sm-3">Contact No. <span class="text-danger">*</span></label>
          <div class="col-md-5 col-sm-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input type="text" class="form-control" name="contactnum" id="contactnum" placeholder="Enter your Primary contact no." value="">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Alternate No. <br>
          <small>(if any)</small></label>
          <div class="col-md-5 col-sm-8">
            <input type="text" class="form-control" name="contactnum2" id="contactnum2" placeholder="Any other or Landline no (if any)" value="">
          </div>
        </div>  -->
        <div class="form-group">
          <label class="control-label col-sm-3">Mô tả<br>
          <small></small></label>
          <div class="col-md-5 col-sm-8">
             <textarea class="form-control" rows="3" id="describe_textarea" placeholder="Viết mô tả về bản thân ở đây " style="height: 100px;min-width: 290px;" name="describeuser"></textarea>

             <div class="form-inline" >
               <p id = "describe_notify" style="color: red;font-style: italic;"></p>
             </div>
          </div>
          
        </div>

      <% if(User.provider == 'custom'){ %>     
        <div class="form-group">
          <label class="control-label col-sm-3">Ảnh đại diện <br>
          <small>(oblige)</small></label>
          <div class="col-md-5 col-sm-8">
            <div class="input-group"> <span class="input-group-addon" id="file_upload"><i class="glyphicon glyphicon-upload"></i></span>
              <input type="file" name="uploadsfile" id="file_upload_input" class="form-control upload" placeholder="" aria-describedby="file_upload">
            </div>
             <div class="input-group" >
               <p id = "profile_photo_notify" style="color: red;font-style: italic;"></p>
             </div>
          </div>
        </div>

        <script type="text/javascript">
            function TypeofFile(val)
            {
               var type = val.slice((Math.max(0, val.lastIndexOf(".")) || Infinity) + 1);//cach 1
               switch(type.toString().toLowerCase())
               {
                  case "jpg":
                  case "gif": 
                  case "bmp": 
                  case "png": 
                  case "jpeg":
                  case "gif":
                  return true;
               }
                      
               return false;
            }

           function validateProfile(imglink, cb)
           {
               var notify_p_photo = null;
               if(imglink.length < 5)
                  notify_p_photo = "!!! Invalid profile photo link."

               if( imglink.length > 5 && !TypeofFile(imglink))
                  notify_p_photo = "!!!Only allow types file: jpg, gif, bmp, png, jpeg, gif."
               cb(notify_p_photo)
            }

            var profile_photo_inp = document.getElementById("file_upload_input")
            var profile_photo_p = document.getElementById("profile_photo_notify")

            profile_photo_inp.onclick = function(){
               profile_photo_p.innerHTML = ""
            }


            function readURL(input) {

               if (input.files && input.files[0]) {
                  var reader = new FileReader();

                  reader.onload = function(e) {
                     $('.resize-image').attr('src', e.target.result);
                  }

                  reader.readAsDataURL(input.files[0]);
               }
            }

            $("#file_upload_input").change(function() {
               readURL(this);
               $('#BoxUpdatePhoto').modal('show');
                //Disable click outside of bootstrap modal area to close modal
               $('#BoxUpdatePhoto').modal({backdrop: 'static', keyboard: false})
            });  

        </script>

      <%}%>

        <div class="form-group">
          <div class="col-xs-offset-3 col-md-8 col-sm-9"><span class="text-muted"><span class="label label-danger">Chú ý:-</span> Khi nhấp vào nút Xong, bạn đồng ý với chúng tôi <a href="#">Điều khoản</a> và bạn đã đọc <a href="#">Chính sách</a>, bảo gồm chính sử dụng <a href="#">Cookie</a>.</span> </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-10">
            <input name="Submit" type="button" value="Xong !!!" class="btn btn-success" id="submitregisterinformation">
          </div>
        </div>

      </form>

   </section>

    </div>
</div>
</div>
   
   <script type="text/javascript" src="/js/ProcessEventRegisterInformation.js"></script>
   <script type="text/javascript" src="/js/component.js"></script>
   <script type="text/javascript">


      function validateDateofBirth(day1, month1, year1, cb)
      {
         var notify_p_dateofbirth = null

         if(year1 == "")
            notify_p_dateofbirth = "!!! Do not empty year field."

         if(month1 == "")
            notify_p_dateofbirth = "!!! Do not empty month field."

         if(day1 == "")
            notify_p_dateofbirth = "!!! Do not empty date field."

         var day = parseInt(day1), month =  parseInt(month1), year = parseInt(year1);
         var dayLength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
         if(isLeapYear(year))
            dayLength[1] = 29;

         if(day > dayLength[month-1])
            notify_p_dateofbirth = "!!! Not valid format date."
         
         cb(notify_p_dateofbirth)//callback function
      }

      function validateDescribe(describe, cb)
      {
         var notify_p_describe = null 
         if(describe.length < 100)
            notify_p_describe = "!!! Describe yourself atleast 100 characters."
         
         var format = /[@#$%^&*_+\-=\[\]{}'"\\|<>\/]/;
         if(format.test(describe))
            notify_p_describe = "!!! .Not allow invalid characters: \"@#$%^&*_+\-=\[\]{}'\\|<>\/";

         cb(notify_p_describe)
      }
 

      var gender_input_div = document.getElementById("form_gender")
      var gender_input_radio = gender_input_div.getElementsByTagName("input")
      var gender_tag_p = document.getElementById("gender")
      var form_registerinformation = document.getElementById("registerinformationforapp")
      var form_register_button = document.getElementById("submitregisterinformation")

      var dateofbirth_div = document.getElementById("dateofbirth")
      var dateofbirth_div_select = dateofbirth_div.getElementsByTagName("select")
      var dateofbirth_div_select_p = document.getElementById("dateofbirth_notify")

      var describe_div = document.getElementById("describe_textarea")
      var describe_div_p = document.getElementById("describe_notify")
      

      form_register_button.onclick = function()
      {
         var isPassValidate = true, isRadiocheck = false;
         for(var ind = 0; ind < gender_input_radio.length; ind++){
            if(gender_input_radio[ind].checked){
               isRadiocheck = true;
               break;
            }
         }

         if(!isRadiocheck)
            gender_tag_p.innerHTML = "!!! Do not empty this field.";

         validateDescribe(describe_div.value, function(err){
            if(err){
              isPassValidate = false;
              describe_div_p.innerHTML = err
            }
         })

         var day = dateofbirth_div_select[0].options[dateofbirth_div_select[0].selectedIndex].value
         var month = dateofbirth_div_select[1].options[dateofbirth_div_select[1].selectedIndex].value
         var year = dateofbirth_div_select[2].options[dateofbirth_div_select[2].selectedIndex].value

         validateDateofBirth(day, month, year, function(err){
            if(err){
               isPassValidate = false;
               dateofbirth_div_select_p.innerHTML = err
            }  
         })

         if(typeof validateProfile !== 'undefined'){
            validateProfile(profile_photo_inp.value, function(err){
               if(err){
                  isPassValidate = false;
                  profile_photo_p.innerHTML = err
               }
            })
         }

         if(isPassValidate && isRadiocheck)
            form_registerinformation.submit()

      }


      for(var ind = 0; ind < gender_input_radio.length; ind++){
         gender_input_radio[ind].onclick = function(){
            gender_tag_p.innerHTML = ""
         } 
      }
     
      dateofbirth_div.onclick = function(){
         dateofbirth_div_select_p.innerHTML  = ""
      }

      describe_div.onclick = function(){
         describe_div_p.innerHTML = ""
      }

      //Automatically increase height for textarea tag using jquery
      function Height(e) {
         $(e).css({'height':'auto','overflow-y':'hidden'}).height(e.scrollHeight);
      }
      
      $('textarea').each(function () {
         Height(this);
      }).on('input', function () {
         Height(this);
      });

   </script>
  </body>
</html>
